html,
body,
.app {
   height: 100vh;
   background: #ecf0f1;
   padding: 1em;
}

/* Messages.js */
.messages {
   height: 62vh;
   overflow-y: scroll;
}

.messages__progress {
   height: 58vh;
   overflow-y: scroll;
}

/* MessageForm.js */
.message__form {
   position: fixed !important;
   bottom: 1em;
   margin-left: 348px !important;
   left: 0;
   right: 1em;
   z-index: 200; 
}

/* Message.js */
.message__self {
   border-left: 2px solid orange;
   padding-left: 8px;
}

.message__image {
   padding: 1em
}

/* ProgressBar.js */

.progress__bar{
   margin: 0.3em 0 0 0 !important
}

/* menu */
.menu{
   padding-bottom: 2em;
}

.color__container{
   cursor: pointer;
   position: relative;
   overflow: hidden;
   width: 35px;
   border-radius: 3px;
}

.color__squar {
   width: 35px;
   height: 35px;
}

.color__overlay {
   width: 85px;
   height: 35px;
   transform: rotate(225deg);
}